@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Roboto:wght@500;700&display=swap');

body {
    background-color:#FEF5E4;
    margin:0;
    padding:0;
}

.head-block{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 99%;
    height: 103px;
    margin-left: 5px;
    margin-right: 10px;

}

.container{
    display: flex;
}

li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 25px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 19px;
    line-height: 19px;
    font-weight: 400;
}

.sendspark {
    height: 24px;
    width: 129px;
    top: 47px;
    border-radius: 0px;
    align-items: center;

}

.btn {
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 19px;
    line-height: 19px;
    height: 52px;
    width: 180px;
    border-radius: 4px;
    background-color:#6140FF;
    color: white;
    font-weight: 400;
}

.line{
    background-color:#6140FF ;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #FEF5E4;
    height: 40px;
    padding-top: 3px;
}
.first-section{
    display: block;
}

.connect{
    display: flex;
    margin: 96px auto 0;
    width: 1120px;
    height: 430px;
}

.text-block{
    height: 397px;
    width: 448px;
    margin-right: 124px;
}

.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 0;
}

.sub-title{
    margin-top: 30px;
    color: #655B6E;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 32px;
}

.get-start {
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FEF5E4;
    height: 64px;
    left: 0%;
    right: 46.88%;
    top: 293px;
    background-color: #FABC32;
    border-radius: 4px;
}

.no-card {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    color: #655B6E;
    margin-top: 0;
    padding: 0;
}

.sponsors {
    display: flex;
    width: 744px;
    height: 41px;
    margin: 96px auto 0;
    
}

.second-section {
    display: block;
    margin-top: 120px;
}

.screen {
    display: flex;
    margin: 96px auto 0;
    width: 1120px;
    height: 408px;
}

.text-block2 {
    height: 397px;
    width: 448px;
    margin-left: 124px;
}

.ok {
    margin-right: 20px;
}

.list-item {
    margin-top: 12px;
    padding-left: 0px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.64);
}

ul {
    padding-left: 0px;
}

.chrome {
    text-align: center;
    margin-top: 17px;
    margin-left: 16px;
}

.install {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 48px;
    color: #FFF8EE;
    width: 286px;
    height: 64px;
    background-color: #6140FF;
    border-radius: 4px;
    border: none;
    margin-top: 17px;
}